@font-face {
  font-family: 'Funnel Sans';
  src: url('/fonts/FunnelSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Funnel Sans';
  src: url('/fonts/FunnelSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
    --bg: #121212;
    --text: #ffffffda;

    font-family: 'Funnel Sans', sans-serif;
}

body {

    background-color: var(--bg);
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 0;
    margin: 0;
}

.section {
    display: flex;

}

.images {
    height: 100vh;
    width: 43%;

    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 90%;
    border-radius: 20px;
}

.content {
    height: calc(100vh - 3rem);
    width: 57%;

    padding-top: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
