button {

}


h1 {
    color: var(--text);

}


p {
    color: var(--text);
}


a {

}


.heading {
    font-size: 5rem;
    margin: 1rem;

    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(60%);
}
