* {
    --bg: #242424;
    --text: #ffffff;
}

body {
    background-color: var(--bg);

    width: 100%;

    display: flex;
    align-items: center;

    border: 0;
    margin: 0;
}

h1 {
    color: var(--text);
    font-size: 3rem;
}

.images {
    height: 100vh;
    width: 35%;

    background-color: blue;
}

.content {
    height: 100vh;
    width: 65%;

    background-color: red;
}


.fancy-button{
    background-color: black;
    color: whitesmoke;

    text-decoration: none;
    border: none;

    padding: 0.7rem 1rem;
    border-radius: 10px;
}
