button {

}


h1 {
    color: var(--text);

}


p {
    color: var(--text);
}


a {

}


.heading {
    font-size: 5rem;
    margin: 1rem;

    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(60%);
}


.circle {
    position: relative;
    width: 300px;
    height: 300px;
    border: 4px solid #242424;
    border-radius: 50%;
}

.circle p {
    position: absolute;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: sans-serif;


    width: 4rem;
    height: 4rem;

    border-radius: 50%;


    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.2rem;
    font-weight: bold;
}
