button {

}


h1 {
    color: var(--text);

}


p {
    color: var(--text);
}


a {

}


.heading {
    font-size: 5rem;
    margin: 1rem;

    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(60%);
}


.circle {
    position: relative;
    width: 300px;
    height: 300px;
    border: 4px solid #f8c8791a;
    border-radius: 50%;
}

.circle p {
    position: absolute;
    transform: translate(-50%, -50%);
    color: #fff;

    width: 4rem;
    height: 4rem;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle img {
    border-radius: 8px;
    border: 1px solid #f8c87920;
    box-shadow: 0 0 20px #f8c8790a;
}
