.cv {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.cv h1 {
    color: var(--main);
}


.graph {
    position: relative;
    width: calc(100% - 100px);
    height: 100vh;
    margin: 50px auto;
}


.node {
    position: absolute;
    background-color: red;

    z-index: 100;
    transform: translate(-50%, 50%);
}

.anker {
    position: absolute;
    width: 1rem;
    height: 1rem;

    background-color: #424242;
    border-radius: 50%;

    z-index: 100;
    transform: translate(-50%, 50%);
}


.line {
    position: absolute;
    background: white;
    transform-origin: top left;
}

#node1 {
    left: 50%;
    top: 0;
}

#anker1 {
    left: 50%;
    top: 20%;
}


#node2 {
    left: 20%;
    top: 40%;
}


#node3 {
    right: 20%;
    top: 60%;
}

#anker2 {
    left: 50%;
    bottom: 20%;
}


#node4 {
    left: 50%;
    bottom: 0;
}
