.cv {
    min-height: 100vh;
}

.cv h1 {
    color: var(--main);
}


.graph {
    position: relative;
    width: calc(100% - 100px);
    height: 100%;
    margin: 50px auto;
}


.node {
    width: 2rem; 
    height: 2rem;
}


#node1 {
    left: 80px;
    top: 0;
}


#node2 {
    left: 0px;
    top: 40%;
}


#node3 {
    left: 160px;
    top: 40%;
}


#node4 {
    left: 80px;
    bottom: 0;
}
