
.cv {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.cv h1 {
    color: var(--main);
    padding-left: 2rem;
}

.cv h2{
    color: var(--main);
}


.graph {
    position: relative;
    width: calc(100% - 100px);
    height: 150vh;
    margin: 50px auto;
}

.node {
    position: absolute;
    background-color: var(--bg);
    border: 1px solid #f8c879;
    padding: 1rem 2rem;
    border-radius: 10px;
    z-index: 100;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.node p {
    margin: 0;
    color: #ffffff70;
}

.node h3 {
    margin: 0;
    color: #ffffffe0;
}

.anker {
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: #f8c879;
    border-radius: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
}

.line {
    position: absolute;
    background-color: #f8c87950;
    transform-origin: top left;
}

#node1 {
    left: 50%;
    top: 0;
}

#anker1 {
    left: 50%;
    top: 15%;
}

#node2 {
    left: 50%;
    top: 35%;
    transform: translate(-105%, -50%);
}

#node3 {
    left: 50%;
    top: 45%;
    transform: translate(5%, -50%);
}

#anker2 {
    left: 50%;
    top: 70%;
}

#node4 {
    left: 50%;
    bottom: 0;
}

@media (max-width: 600px) {
    .graph {
        height: 110vh;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        gap: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .node {
        position: static;
        transform: none;
    }

    #node2,
    #node3 {
        transform: none;
        left: auto;
        top: auto;
    }

    .cv h1 {
        margin-bottom: 5rem;
    }

    .cv {
        justify-content: center;
        align-items: center;
    }

    .anker {
        display: none;
    }
}
