.grain {
    position: relative;
}


.grain::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-image: url("../images/grain/Grain.png");
    background-size: 200px 200px;
    background-repeat: repeat;
    opacity: 0.2; 

    z-index: 0;
}
