
p {
    color: var(--text);
}

.heading {
    margin: 0rem;
    padding: 0;

    position: absolute;
    top: 4rem;
    left: 0%;
    
    padding-left: 5rem;
    width: clac(100vw - 5rem);
    transform: translate(-0%, 0%);
    display: flex;
    gap: 1rem;

}

.heading h1 {
    font-size: 12vw;
    margin: 0;
    color: #f8c87930;
}



.circle {
    position: relative;
    width: 300px;
    height: 300px;
    border: 4px solid #f8c8790a;
    border-radius: 50%;
}

.circle p {
    position: absolute;
    transform: translate(-50%, -50%);
    color: #fff;

    width: 4rem;
    height: 4rem;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle img {
    border-radius: 8px;
    border: 1px solid #f8c87920;
    box-shadow: 0 0 20px #f8c8790a;

    width: 4rem;

    background-color: var(--bg);
}

#circle-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; 
    
    padding: 0;
    margin: 0;
    width: 10rem;
    height: 2rem;

    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;


    color: #f8c879e0;
    font-size: 1.4rem;
    font-weight: bold;
}


#portrait {
    width: 90%;
    border-radius: 20px;
}





@media (max-width: 750px) {
    .images {
        width: 100%;
        height: auto;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: start;

        position: relative;
    }

    #portrait {
        width: 100%;
        height: 100dvh;
        object-fit: cover;
        border-radius: 0;
        filter: brightness(0.6);
    }

    #landing-section {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }


    .heading {
        top: 5%;
        left: 0%;

        padding: 0;
        width: 100%;
        
        display: flex;
        justify-content: center;
    }

    .heading h1 {
        font-size: 14vw;     
    }


    #circle-center {
        font-size: 2rem;
    }
}
